@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<div class="d-flex align-items-center mb-3">
    <input type="text" placeholder="Something to do..." class="form-control me-2" style="max-width: 400px" @bind="newTodo" />
    <button class="btn btn-primary" @onclick="AddTodo">Add Todo</button>
</div>

<ul class="list-unstyled">
    @foreach (var todo in todos)
    {
        <li class="d-flex align-items-center mb-2" style="max-width: 400px">
            <input type="checkbox" class="form-check-input me-2" @bind="todo.IsDone" />
            <input type="text" class="form-control" @bind="todo.Title" />
        </li>
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            TodoItem todo = new();
            todo.Title = newTodo;
            todos.Add(todo);

            newTodo = "";   // clear the text field
        }
    }
}
